.git
.gitignore
.env
vendor
node_modules
public/build
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
